<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohammad.apufodd">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/cafelogo"
        android:label="APU CAFETERIA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AdminHomePage" />
        <activity
            android:name=".AddNewFood"
            android:parentActivityName=".AdminHomePage" />
        <activity
            android:name=".EditFood"
            android:parentActivityName=".AdminHomePage" />
        <activity
            android:name=".Recharge"
            android:parentActivityName=".AdminHomePage" />
        <activity android:name=".StudentHomePage" />
        <activity
            android:name=".NewOrder"
            android:parentActivityName=".StudentHomePage" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".OrderDetails"
            android:parentActivityName=".StudentHomePage" />
        <activity
            android:name=".OrderHistory"
            android:parentActivityName=".StudentHomePage" />
        <activity android:name=".ManagerHome" />
        <activity
            android:name=".CurrentOrders"
            android:parentActivityName=".ManagerHome" />
        <activity
            android:name=".AllOrders"
            android:parentActivityName=".ManagerHome" />
        <activity
            android:name=".OrderDetailsManager"
            android:parentActivityName=".ManagerHome" />
        <activity
            android:name=".DailySale"
            android:parentActivityName=".ManagerHome" />
        <activity android:name=".ScanQr" />
        <activity
            android:name=".ChatStudent"
            android:parentActivityName=".StudentHomePage" />
        <activity
            android:name=".ChatList"
            android:parentActivityName=".ManagerHome" />
        <activity
            android:name=".ChatManager"
            android:parentActivityName=".ChatList" />
        <activity android:name=".ListAdapter"></activity>
    </application>

</manifest>